
body {
  margin: 0;
  background-color: #cfe2f3;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 5rem;
  height: 100vh;
}

.auth-container{
  background-image: url("image/baby-yoda.gif");
}
.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-container {
   padding: 3vmin;
   
}

form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20rem;
  padding-right: 15rem;
}
.form2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  justify-content:space-around;
}


label {
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}


.log-out{
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  display: flex;
  justify-content: end;
}

button[type="submit"] {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}  

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.link {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: larger;
  margin-top: 5rem;


  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  border: 5px solid black;
  background-image: url("./image/mickey-mouse.jpg")
}

.words {
  color: gray;
  margin-left: 25rem;
}

.click {
  font-size: 20px;
} 

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}